/* Colores de texto */
$color_1: white;
$color_2: black;

/* Colores de fondo de distintos segmentos del sitio web */
$background-color_1: #333;
$background-color_2: #ddd;
$background-color_3: #f1f1f1;
$background-color_4: white;
$background-color_5: #aaa;
$background-color_6: rgba(0,0,0,0.8);
$background-color_7: #bbb;
$background-color_8: #717171;
